/* From Uiverse.io by Prince4fff */

.container{
    width: 80%;
    margin: 0 auto;
}
.index{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: start;
}
.header{
    margin: 0 12px;
}
.cards{
    display: flex;
    width:100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card1{
    display: block;
    position: relative;
    min-width: 380px;
    min-height:  202px;
    /* background-color: #ffffff; */
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}


@media (min-width: 997px) {
    .card1{
        /* display: block;
        position: relative; */
        min-width: 372px;
        min-height:  210px;
        background-color: #ffffff;
        border-radius: 4px;
        /* padding: 32px 24px; */
        /* margin: 12px; */
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
    }
}

.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
  text-decoration: none;
}

.card p.small {
  font-size: 14px;
}

.go_corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #25435e;
  border-radius: 0 4px 0 32px;
}

.go_corner1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  background-color: #25435e;
  border-radius: 0 4px 0 32px;
}

.go_arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1:hover{
  text-decoration: none;
  color: aquamarine;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -18px;
  background: #25435e;
  height: 52px;
  width: 52px;
  font-size: medium;
  color: #845050;
  border-radius: 32px;
  /* transform: scale(1); */
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
    transition: all 0.3s ease-out;
    font-size: 20px;
    color: royalblue;
}
.featureSvg1{
    width: 30px;
    height: 30px;
}




/* ///
 */

