
/* Top navigation bar */
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: #7b3434;
  position: sticky;
  top: 0;
  padding: 10px 100px;
  z-index: 1;
  border-bottom:1px solid rgba(203, 221, 230, 0.4);
  background-color: rgba(255, 255, 255);
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05); */

  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);  */
}


/* Navigation bar links */
.navbar a {
  color: #3a1b1b;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  text-align: center;
  line-height: 1;
  margin: 15px 5px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #e1eff7;
  color: black;
  border-radius: 50px;
  /* font-weight:bold */

}
/* Column container */
.container {
  width: 80%;
  margin: 0 auto;
  gap: 10px;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.LinkText{
  font-size: 14px;
  font-size: bold;
}
.LinkText:hover{
  color: #4e86ca;
  cursor: pointer;
}

.Linkwrapper{
  display: flex;
  color: #3a78c4;
  align-items: center;
  gap: 5px  ;
}

.pageTitle{
  margin-bottom: 20px;
  color: #333;
  font-size: 38px;
  font-weight: bold;
}

/* Main column */
.main {
  /* flex: 70%; */
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* overflow-y: scroll; */
  background-color: white;
  padding: 20px 300px;
}

/* Sidebar/left column */
.side {
  position: absolute;
  top: 20px;
  left: 0;
  /* flex: 15%; */
  /* max-width: 25%; */
  background-color: rgba(255, 255, 255);
  padding: 20px;
}
/* ::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 4px;
} */
.related_link{
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 50px;
  }
.CONTENT{
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  /* text-transform: uppercase; */
}

/* Fake image, just for this example */
.fakeimg {
  width: 100%;
  color: cadetblue;
  height: 30px;
}

.manageLinks{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {
    flex-direction: column;
  }
}

.related_link{
  width: 100%;
  margin: 0 auto;

}


.features {
  padding: 2rem 0;
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
  /* background-color: #babbbb; */
  border-top: 1px solid #e5e7eb;
}
.flex{
  display: flex;
  gap: 10px;
  align-items: center;
}

.pageNavigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  /* align-items: center; */

}

.Link:hover{
  text-decoration: none;
}

.prev{
  flex: 1;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid rgba(203, 221, 230, 0.4);
}
.next{
  flex: 1;
  text-align: right;
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  border: 2px solid rgba(203, 221, 230, 0.4);

  /* border: 2px solid rgba(2, 1, 1, 0.4); */
}
.prev:hover, .next:hover {
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(8, 28, 41, 0.8);
}

.Title{
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0;
}

.PREV_title{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  text-align: right;
  align-items: center;
}

.NEXT_title{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;

}
.NEXT{
  justify-content: right;
}
.PREV{
  justify-content: left;
}

.NEXT, .PREV{
  display: flex;
  align-items: center;
  font-size: small;
  line-height: 2.5;
}