
.step_container{
    display: flex;
    width: 100%;
    margin: 0 15px 10px auto;
    gap: 5px;
    height: 26px;
    justify-items: end;
  }
  .step{
    display: flex;
    gap: 5px;
    align-items: end;
    padding: 0 1px 1px 4px;
    /* background-color: rgba(87, 137, 168, 0.1); */
    /* border-left:1px solid #124b76; */
  }
  .step span{
    font-weight: bold;
    color: var(--text-heading);
  }
  .step_title{
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .step_title span{
    font-weight: bold;
    font-size: 16px;
    color: var(--text-heading);
  }
  