.video_player_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    text-align: center;
    background-color: #f9f9f9;
  }

  .video_wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    /* border-radius: 12px; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
  }

  .video_element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ffffffff;
  }

  .video_caption {
    font-size: 0.95rem;
    color: var(--text-em);
    margin-top: 12px;
    font-style: italic;
  }

/* Dark Mode Overrides */
:global([data-theme='dark']) .video_player_container {
    background-color: transparent;
}

:global([data-theme='dark']) .video_wrapper {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}
